{% extends 'dashboard.html' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/changepass.css' %}"/>  {% endblock css %}
{% block nextsection %}

<div class="change-pass-form text-center mt-5">
    <form action="" class="mt-5" method="POST">
        {% csrf_token %}
        <p class="text-danger text-decoration-underline fs-6">Change Password</p>
        <p><input type="password" placeholder="Enter Old Password" class="pass-change" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
            <input type="checkbox" value="show" id="box" onclick ="ShowPass()">View</p></p>
        <p><input type="password" placeholder="Enter New Password"class="pass-change" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        <input type="checkbox" value="show" id="box1" onclick ="ShowPass1()">View</p>
        <p><input type="password" placeholder="Enter New Password" class="pass-change" name="new_password2" autocomplete="new-password" required id="id_new_password2"> 
            <input type="checkbox" value="show" id="box2" onclick ="ShowPass2()">View</p>
        <input type="submit" class="pass-change" value="Save">
        <button> <a href="{% url 'dashboard' %}">Cancel</button>
    </form>
</div>

<script type="text/javascript">
    function ShowPass()
    {
    if(document.getElementById('box').checked)
       {document.getElementById("id_old_password").type='text';}
    else
    document.getElementById("id_old_password").type='password';
    }
    </script> 

<script type="text/javascript">
    function ShowPass1()
    {
    if(document.getElementById('box1').checked)
       {document.getElementById("id_new_password1").type='text';}
    else
    document.getElementById("id_new_password1").type='password';
    }
    </script> 

    <script type="text/javascript">
        function ShowPass2()
        {
        if(document.getElementById('box2').checked)
           {document.getElementById("id_new_password2").type='text';}
        else
        document.getElementById("id_new_password2").type='password';
        }
        </script> 

{% endblock nextsection %}

